/* so the navbar stays on top */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    font-family: Arial, sans-serif;
    background-image: url("winelips4.jpg");
    background-size: cover;
    background-position: center;

}

/* Navbar Style */
.navbar {
    background: rgb(61, 61, 61);
    padding: 1rem 0;
    text-align: center;

}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #b4b4b4;
}

/* Hero Section. for mainpage witch is logo */
.hero-content {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}

/* Tour Section */
.tour-section {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 40px;
}

.tour-box {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

/* Signup box Section */
.signup-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 40px 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: white;
    backdrop-filter: blur(4px);
}

.signup-box h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.signup-box p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #ccc;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-form input {
    padding: 12px 16px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    width: 100%;
}

/* style for the button */
.signup-form button {
    background: #ffbf20;

    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

/* button hover effect */
.signup-form button:hover {
    background: #f53e28;
}

/* Responsive Design */
@media (max-width: 480px) {

    .about-us-section {
        padding: 20px 0;
    }

    .about-content {
        padding: 20px;
    }

    .tour-box,
    .signup-box {
        padding: 25px 20px;
    }

    .signup-box h2 {
        font-size: 1.5rem;
    }
}

/* Logo Image Style */
.logo-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.about-us-section {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 40px;
}


.about-content {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;


}